{% extends "layout.html" %}

{% block tittle %}
Home Page
{% endblock %}

{% block content %}
<h1 class="bg-orange-500 text-3xl">Chai aur Code | Home page</h1>
{% comment %} <p class="text-center w-20 bg-orange-400">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque, laboriosam.</p> {% endcomment %}
{% endblock %}


{% comment %} {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chai aur Django</title>
</head>
<body>
    <h1>Chai aur Django</h1>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</body>
</html> {% endcomment %}